
<fuse-splash-screen id="fuse-splash-screen">
    <div class="center">
      <div class="logo">
          <img width="128" src="https://playground.cubes.cloud/assets/images/cubes-logo.png"> 
          <p>cubes.cloud</p>
      </div>
      <h1> Welcome to your new app! </h1>
      <h5> Backend URL: {{ENV.backend_url}} </h5>
      <h5> Status: {{status}} </h5>
    </div>
</fuse-splash-screen>
